body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hotpink;
}
header {
  font-size: 3.5em;
  background-color: #555; 
  margin: 10px 20px;
  text-align: center;
}
header h1 {
  color: antiquewhite;
}
form {
  text-align: center;
}
select {
  border: 2px solid green;
  background-color: white;
  color: blue;
}
#reload {
  border: 2px solid blue;
  background-color: yellow;
  color: black;
  font-weight: bold;
}
section {
  width: 75%;
  margin: 20px auto;
  background-color: aliceblue;
  padding: 5px 10px;
  border: 5px solid gold;
}
#fortune {
  font-size: 2em;
  text-align: justify;
}
